.git
.gitignore
Archive/
BrainBeam.egg-info/
build/
dist/

**/__pycache__/
**/*.py[cod]
**/*.out
**/*.err

BrainBeam/statistics/datasets/
BrainBeam/statistics/verification_of_classifier/
BrainBeam/statistics/verification_of_registration/
BrainBeam/statistics/*.nb.html
