.git
.gitignore
Archive/
BrainBeam.egg-info/
build/
dist/

**/__pycache__/
**/*.py[cod]
**/*.out
**/*.err

BrainBeam/gui/TestFolder/
BrainBeam/gui/TestFolder2/
BrainBeam/gui/slurm-*.out

BrainBeam/statistics/datasets/
BrainBeam/statistics/figures/
BrainBeam/statistics/verification_of_classifier/
BrainBeam/statistics/verification_of_registration/
BrainBeam/statistics/*.nb.html

/bootstrapped_network_stats_long.csv
/excluded_regions.csv
/FosTrapRabiesCorrelations.csv
/FosTrapRabiesCorrelations_thresh.csv
/Plot1_mPFC_vs_ThreatAverage.jpg
/Plot2_mPFC_vs_CanonicalThreatRegions.jpg
/correlationgraph.jpg
/tmt_graph.jpg
/vanilla_graph.jpg
/water_graph.jpg
